# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
src/generated/prisma

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal
pgdata/

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Uploads
uploads
