DATABASE_URL="postgresql://<username>:<password>@pine-mage-27336.j77.aws-ap-southeast-1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full"
API_KEY_ENCRYPTION_SECRET="change-this-to-a-long-random-secret-at-least-32-chars"
ALLOWED_ORIGINS="http://localhost:5173,http://localhost:3000,http://localhost:3001"
PORT=3001
NODE_ENV=development
